body {
    background-color: aquamarine;
}

.search_container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 50px;
    display: flex;


}

.search_container.search_container.search_input {
    border-radius: 15px;
}

.search_input {
    border: none;
    width: 130px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    font-size: large;
    transition-duration: 0.5s;
    padding-left: 10px;
}

.search_button:focus,
.search_input:focus {
    outline: none;
}

.smaller {
    width: 0px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    padding: 0;

}

.search_button {
    border: none;
    width: 50px;

    background-color: rgb(255, 255, 255);
}